<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create a New Celebrity</a>

<hr>

<a href="/celebrities">View All Celebrities</a>

<hr>

<a href="/movies/create">Add New Movie</a>

<hr>

<a href="/movies">View All Movies</a>

